@model IEnumerable<Evidence>

	<h1>Current Evidence</h1>
	<table class="table"">
		<thead>
			<tr>
				<th>Title</th>
				<th>Date Found</th>
				<th>Date Logged</th>
				<th>Retrieval Location</th>
				<th>Evidence Type</th>
				<th>Description</th>
				<th>Collected By</th>
			</tr>
		</thead>
		<tbody>
			@foreach (Evidence  evidence in Model) 
			{
				<td>@evidence.Title</td>
				<td>@evidence.DateFound</td>
				<td>@evidence.DateLogged</td>
				<td>@evidence.RetrievalLocation</td>
				<td>@evidence.EvidenceType</td>
				<td>@evidence.Description</td>
				<td>@evidence.CollectedBy</td>
				<td>
					<a href="/Case/Delete/@evidence.EvidenceID">Delete</a>
				</td>
			}
		</tbody>
	</table>
